@model UserSkpd

<form action="/administrtator/subkegiatan/store" method="post">
    <div class="modal-header">
        @if (Model.UserSkpdId != Guid.Empty) {
            <h4 class="model-title">Edit User SKPD</h4>
        }
        else {
            <h4 class="modal-title">Tambah UserSkpd</h4>
        } 
        <button type="button" class="close text-white" data-dismiss="modal">&times;</button>
    </div>
    <div class="modal-body">
        <input type="hidden" asp-for="UserSkpdId">
        <div class="form-group">
            <label>Username</label>
            <input type="text" asp-for="UserName" class="form-control" required autocomplete="off" autofocus />
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div> 
        <div class="form-group">
            <label>SKPD</label>
            <select asp-for="SkpdId" class="form-control" id="cbSkpd" required></select>
            <span asp-validation-for="SkpdId" class="text-danger"></span>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-success">Save</button>
    </div>
</form>
