<header class="main-nav">
    <div class="sidebar-user text-center"><a class="setting-primary" href="javascript:void(0)"><i data-feather="settings"></i></a><img class="img-90 rounded-circle" src="~/images/logo/logo-dinas-75.png" alt="">
    <div class="badge-bottom"></div>
        <a href="javascript:void(0);">
            <h6 class="mt-3 f-14 f-w-600">@(((ClaimsIdentity)User.Identity!).Claims.Where(c => c.Type == "given_name").Select(c => c.Value).SingleOrDefault())</h6>
        </a>
    </div>
    <nav>
    <div class="main-navbar">
        <div class="left-arrow" id="left-arrow"><i data-feather="arrow-left"></i></div>
        <div id="mainnav">
        <ul class="nav-menu custom-scrollbar">
            <li class="back-btn">
            <div class="mobile-back text-end"><span>Back</span><i class="fa fa-angle-right ps-2" aria-hidden="true"></i></div>
            </li>
            <li class="sidebar-main-title">
                <div>
                    <h6>Main Menu</h6>
                </div>
            </li>
            @*<li class="dropdown">
                <a class='nav-link menu-title link-nav' asp-controller="Home" asp-action="Index"><i data-feather="home"></i><span>Dashboard</span></a>
            </li>*@
            <li class="dropdown">
                <a class='nav-link menu-title link-nav' asp-controller="TransKegiatan" asp-action="Index"><i data-feather="airplay"></i><span>Kegiatan</span></a>                
            </li>
            <li>
                
            </li>
            <li class="sidebar-main-title">
                <div>
                    <h6>Master Data</h6>
                </div>
            </li>
            <li class="dropdown">
                <a class='nav-link menu-title link-nav' asp-controller="Prog" asp-action="Index"><i data-feather="book"></i><span>Program</span></a>
            </li>
            <li class="dropdown">
                <a class='nav-link menu-title link-nav' asp-controller="Kegiatan" asp-action="Index"><i data-feather="calendar"></i><span>Master Kegiatan</span></a>
            </li>
            <li class="dropdown">
                <a class='nav-link menu-title link-nav' asp-controller="SubKegiatan" asp-action="Index"><i data-feather="git-branch"></i><span>Sub Kegiatan</span></a>
            </li>
            <li class="dropdown">
                <a class='nav-link menu-title link-nav' asp-controller="Rekening" asp-action="Index"><i data-feather="menu"></i><span>Rekening</span></a>
            </li>
            <li class="dropdown">
                <a class='nav-link menu-title link-nav' asp-controller="JenisPengadaan" asp-action="Index"><i data-feather="list"></i><span>Jenis Pengadaan</span></a>
            </li>
            <li class="dropdown">
                <a class='nav-link menu-title link-nav' asp-controller="Penyedia" asp-action="Index"><i data-feather="server"></i><span>Penyedia</span></a>
            </li>
            @if (User.IsInRole("SysAdmin")) {
                <li class="sidebar-main-title">
                    <div>
                        <h6>Administrator</h6>
                    </div>
                </li>
                <li class="dropdown">
                    <a href="javascript:void(0)" class="nav-link menu-title link-nav">User SKPD</a>
                </li>
            }            
        </ul>
        </div>
        <div class="right-arrow" id="right-arrow"><i data-feather="arrow-right"></i></div>
    </div>
    </nav>
</header>
