@model SubKegiatanViewModel

<form action="/master/subkegiatan/store" method="post">
    <div class="modal-header">
        @if (Model.SubKegiatan.SubKegiatanId != 0) {
            <h4 class="model-title">Edit Master Sub Kegiatan</h4>
        }
        else {
            <h4 class="modal-title">Tambah Master Sub Kegiatan</h4>
        } 
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <input type="hidden" asp-for="SubKegiatan.SubKegiatanId">
        <div class="form-group">
            <label>Kode Sub Kegiatan</label>
            <input type="text" asp-for="SubKegiatan.KodeSubKegiatan" class="form-control" required autocomplete="off" autofocus />
            <span asp-validation-for="SubKegiatan.KodeSubKegiatan" class="text-danger"></span>
        </div> 
        <div class="form-group">
            <label>Nama Sub Kegiatan</label>
            <input type="text" asp-for="SubKegiatan.NamaSubKegiatan" class="form-control" required autocomplete="off" />
            <span asp-validation-for="SubKegiatan.NamaSubKegiatan" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label>Kegiatan</label>
            <select class="form-control" asp-for="SubKegiatan.KegiatanId" id="sKegiatan">
                @if (Model.NamaKegiatan != String.Empty)
                {
                    <option value="@Model.SubKegiatan.KegiatanId" selected="selected">@Model.NamaKegiatan</option>
                }
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-success">Save</button>
    </div>
</form>
