@{    
    ViewBag.Title = "Detail Kegiatan";
}

<!-- Page Header -->
<div class="container-fluid">
    <div class="page-header">
        <div class="row">
            <div class="col-sm-6">
                <h3>Detail PASK - 1.03.04.2.01.05.001</h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">Detail</li>
                    <li class="breadcrumb-item">Kegiatan</li>
                </ol>
            </div>
            <div class="col-sm-6">
                <div class="bookmark">
                    <ul>
                        <li>
                            @* <a href="javascript:void(0)" class="showMe" data-href="/transaksi/kegiatan/create" data-container="body" data-bs-toggle="popover" data-placement="top" title="" data-original-title="Add">
                                <i data-feather="plus"></i>
                            </a> *@
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Page Content -->
<div class="container-fluid">
    <div class="row">
        <div col-sm-12>
            <div class="card">
                <div class="card-body">
                    <div class="form theme-form">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="mb-3">
                                    <label>Kode Program</label>
                                    <input class="form-control" type="text" name="" id="" value="1.03.04">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="mb-3">
                                    <label>Program</label>
                                    <input class="form-control" type="text" name="" id="" value="PROGRAM PENGEMBANGAN SISTEM DAN PENGELOLAAN PERSAMPAHAN REGIONAL">
                                </div>                                
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="mb-3">
                                    <label>Kode Kegiatan</label>
                                    <input class="form-control" type="text" name="" id="" value="1.03.04.2.01">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="mb-3">
                                    <label>Kegiatan</label>
                                    <input class="form-control" type="text" name="" id="" value="Pengembangan Sistem dan Pengelolaan Persampahan di Daerah Kabupaten/Kota">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="mb-3">
                                    <label>Kode Sub Kegiatan</label>
                                    <input class="form-control" type="text" name="" id="" value="1.03.04.2.01.05">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="mb-3">
                                    <label>Sub Kegiatan</label>
                                    <input class="form-control" type="text" name="" id="" value="Peningkatan TPA/TPST/SPA/TPS-3R/TPS">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="mb-3">
                                    <label>Penjabaran Atas Sub Kegiatan</label>
                                    <textarea class="form-control" name="" id="" rows="2">Optimalisasi Jakarta Recycle Centre (JRC)</textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Table -->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body" style="padding; 0 0 30px 0;">
                    <table class="table table-bordered table-striped table-responsive">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>No Rekening</th>
                                <th>Rekening</th>
                                <th>Anggaran</th>
                                <th>Aksi</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>5.1.02.01.01.0012</td>
                                <td>Belanja Bahan-Bahan Lainnya</td>
                                <td class="text-end">52.846.090</td>
                                <td><button type="button" class="btn btn-success" style="width: 100%;">Edit</button></td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>5.1.02.01.01.0019</td>
                                <td>Belanja Suku Cadang-Suku Cadang Alat Pertanian</td>
                                <td class="text-end">14.124.000</td>
                                <td><button type="button" class="btn btn-success" style="width: 100%;">Edit</button></td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>5.1.02.01.01.0024</td>
                                <td>Belanja Alat/Bahan untuk Kegiatan Kantor-Alat Tulis Kantor</td>
                                <td class="text-end">1.161.600</td>
                                <td><button type="button" class="btn btn-success" style="width: 100%;">Edit</button></td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>5.1.02.01.01.0030</td>
                                <td>Belanja Alat/Bahan untuk Kegiatan Kantor-Perabot Kantor</td>
                                <td class="text-end">161.128</td>
                                <td><button type="button" class="btn btn-success" style="width: 100%;">Edit</button></td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>5.1.02.01.01.0031</td>
                                <td>Belanja Alat/Bahan untuk Kegiatan Kantor-Alat Listrik</td>
                                <td class="text-end">2.783.000</td>
                                <td><button type="button" class="btn btn-success" style="width: 100%;">Edit</button></td>
                            </tr>
                            <tr>
                                <td>6</td>
                                <td>5.1.02.01.01.0036</td>
                                <td>Belanja Alat/Bahan untuk Kegiatan Kantor-Alat/Bahan untuk Kegiatan Kantor Lainnya</td>
                                <td class="text-end">323.514.400</td>
                                <td><button type="button" class="btn btn-success" style="width: 100%;">Edit</button></td>
                            </tr>
                            <tr>
                                <td>7</td>
                                <td>5.2.02.05.02.0003</td>
                                <td>Belanja Modal Alat Pembersih</td>
                                <td class="text-end">95.460.618</td>
                                <td><button type="button" class="btn btn-success" style="width: 100%;">Edit</button></td>
                            </tr>
                            <tr>
                                <td class="text-end" colspan="3">Total</td>
                                <td class="text-end">490.050.836</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            
        </div>
    </div>
</div>