@model PptkNew.Models.Transaksi.DetailVM

@{    
    ViewBag.Title = "Detail Kegiatan";
}

@section plugincss {
    <link rel="stylesheet" type="text/css" href="~/admin/assets/css/datatables.css" />
    <link rel="stylesheet" href="~/lib/sweetalert/sweetalert2.min.css" />
    <link rel="stylesheet" href="~/admin/assets/css/select2.css" />
}

<!--Modal Window-->
<div id='myModal' class='modal fade in' role="dialog" data-bs-keyboard="false" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>

<!-- Page Header -->
<div class="container-fluid">
    <div class="page-header">
        <div class="row">
            <div class="col-sm-6">
                <h3>PASK - @Model.TransKegiatan!.KodePASK</h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">Detail</li>
                    <li class="breadcrumb-item">Kegiatan</li>
                </ol>
            </div>
            <div class="col-sm-6">
                <div class="bookmark">
                    <ul>
                        <li>
                            @* <a href="javascript:void(0)" class="showMe" data-href="/transaksi/kegiatan/create" data-container="body" data-bs-toggle="popover" data-placement="top" title="" data-original-title="Add">
                                <i data-feather="plus"></i>
                            </a> *@
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Page Content -->
<div class="container-fluid">
    <div class="row">
        <div col-sm-12>
            <div class="card">
                <div class="card-body">
                    <div class="form theme-form">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="mb-3">
                                    <label>Kode Program</label>
                                    <input class="form-control" type="text" asp-for="TransKegiatan!.Prog.KodeProgram" disabled />
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="mb-3">
                                    <label>Program</label>
                                    <input class="form-control" type="text" asp-for="TransKegiatan!.Prog.NamaProgram" />
                                </div>                                
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="mb-3">
                                    <label>Kode Kegiatan</label>
                                    <input class="form-control" type="text" asp-for="TransKegiatan!.SubKegiatan.Kegiatan.KodeKegiatan" disabled />
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="mb-3">
                                    <label>Kegiatan</label>
                                    <input class="form-control" type="text" asp-for="TransKegiatan!.SubKegiatan.Kegiatan.NamaKegiatan" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="mb-3">
                                    <label>Kode Sub Kegiatan</label>
                                    <input class="form-control" type="text" asp-for="TransKegiatan!.SubKegiatan.KodeSubKegiatan" disabled    />
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="mb-3">
                                    <label>Sub Kegiatan</label>
                                    <input class="form-control" type="text" asp-for="TransKegiatan!.SubKegiatan.NamaSubKegiatan" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="mb-3">
                                    <label>Jenis Pengadaan</label>
                                    <input type="text" class="form-control" name="" id="" value="Pengadaan Langsung" />
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="mb-3">
                                    <label>Penjabaran Atas Sub Kegiatan</label>
                                    <textarea class="form-control" name="" id="" rows="2" asp-for="TransKegiatan!.Penjabaran"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Table -->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <button type="button" class="btn btn-warning mb-3 showMe" data-href="/transaksi/detail/create/?id=@Model.TransKegiatan!.TransKegiatanId">Tambah</button>
                        </div>
                        <div class="col-sm-6 text-end" style="font-weight:bold; font-size:16px;">
                            Total : <span id="TotalTrans" style="margin-left:20px;">0</span>
                        </div>
                    </div>
                    
                    <input type="hidden" id="TransID" value="@Model.TransKegiatan!.TransKegiatanId" />
                    <table id="tblData" class="table table-bordered table-striped table-responsive">
                        <thead>
                            <tr>                                
                                <th>No Rekening</th>
                                <th>Rekening</th>
                                <th>Anggaran</th>
                                <th>Aksi</th>
                            </tr>
                        </thead>                        
                    </table>
                    <div class="text-center mt-3">
                        <a href="/transaksi/index" class="btn btn-danger">Kembali</a>
                    </div>
                </div>
            </div>
            
        </div>
    </div>    
</div>

@section pluginjs {
    <script src="~/admin/assets/js/datatable/datatables/jquery.dataTables.min.js"></script>   
    <script src="~/lib/sweetalert/sweetalert2.all.min.js"></script> 
    <script src="~/admin/assets/js/select2/select2.full.min.js"></script>
}

@section scripts {
    <script src="~/js/modalForm.js"></script>
    <script src="~/pages/transaksi/detail.js"></script>
}