@model Prog

<form action="/master/program/store" method="post">
    <div class="modal-header">
        @if (Model.ProgramId != 0) {
            <h4 class="model-title">Edit Program</h4>
        }
        else {
            <h4 class="modal-title">Tambah Program</h4>
        } 
        <button type="button" class="close text-white" data-dismiss="modal">&times;</button>
    </div>
    <div class="modal-body">
        <input type="hidden" name="id" value="{{$data->id}}">
        <div class="form-group">
            <label>Kode Program</label>
            <input type="text" asp-for="KodeProgram" class="form-control" required autocomplete="off" autofocus />
            <span asp-validation-for="KodeProgram" class="text-danger"></span>
        </div> 
        <div class="form-group">
            <label>Kode Program</label>
            <input type="text" asp-for="NamaProgram" class="form-control" required autocomplete="off" />
            <span asp-validation-for="NamaProgram" class="text-danger"></span>
        </div>  
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-success">Save</button>
    </div>
</form>
