@model Kegiatan

<form action="/master/kegiatan/store" method="post">
    <div class="modal-header">
        @if (Model.KegiatanId != 0) {
            <h4 class="model-title">Edit Master Kegiatan</h4>
        }
        else {
            <h4 class="modal-title">Tambah Master Kegiatan</h4>
        } 
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <input type="hidden" asp-for="KegiatanId">
        <div class="form-group">
            <label>Kode Kegiatan</label>
            <input type="text" asp-for="KodeKegiatan" class="form-control" required autocomplete="off" autofocus />
            <span asp-validation-for="KodeKegiatan" class="text-danger"></span>
        </div> 
        <div class="form-group">
            <label>Nama Kegiatan</label>
            <textarea class="form-control" rows="3" asp-for="NamaKegiatan"></textarea>
            <span asp-validation-for="NamaKegiatan" class="text-danger"></span>
        </div>  
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-success">Save</button>
    </div>
</form>